/* Styling the content section */

.content-section {
    text-align: center;
    margin-top: 50px; }

/* Styling the section header */

.section-header {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    max-width: 800px; 
    color:#241D55;
    font-size: 2rem;
}
.section-header p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    max-width: 800px; 
    color:#1d1842;
    font-size:medium;
}

.header-image {
    display: block;
    margin: 20px auto;
    border: 5px solid silver;
    border-radius: 20px;
    max-width: 50%;
}


/* Styling the accordion container */
.accordion {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Styling the accordion item */
.accordion-item {
    background-color: #887BB0;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 500px;
}

/* Styling the accordion header */
.accordion-header {
    background-color: #6A5ACD;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.0 rem;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

/* Styling the accordion content */
.accordion-content {
    padding: 20px;
    display: none;
}

/* Styling the accordion content when active */
.accordion-item.active .accordion-content {
    display: block;
}

/* Styling the accordion image */

.accordion-content img {
    display: block;
    margin: 10px auto;
    border: 5px solid silver;
    border-radius: 20px;
    max-width: 80%;
}
/* Styling the accordion paragraph */
.accordion-content p {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
}
 /*Footer*/

 footer {
    background-color: #887BB0;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-family: 'Oxanium', sans-serif;
    height: auto;
    display: flex;
    align-items: center;
    empty-cells: show;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
}

footer button[type="submit"] {
    background-color: #E8DAF4;
    color: #241D55;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Oxanium', sans-serif;
}

footer button[type="submit"]:hover {
    background-color: #B79FC8;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
}

.explore-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #887BB0;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.explore-button:hover {
    background-color: #B79FC8;
}
