/* Body styles */
body {
    background-color: EEEDFF;
}

.navigation-menu {
    background-color: #6a5acd; 
    padding: 10px 0;
}

.navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation-menu li {
    display: inline;
    margin-right: 20px;
}

.navigation-menu a {
    color: #fff; 
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation-menu a:hover,
.navigation-menu a:focus {
    background-color: #fff; 
    color: #6a5acd;
}
